// Place all the styles related to the public/addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addressedit {
  margin-top: 20px;
}

.addressedit2 {
  margin-right: 20px;
}

.addressedit3 {
  margin-left: 150px;
}

.edittitle {
  margin: 30px;
}

.addressnameedit{
  width: 235px;
}

.addressname {
  width: 400px;
}
