// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.costtable {
  display: flex;
}

.addressentering {
  width: 230px;
}

.orderconfirmation {
  margin-bottom: 50px;
}