<div class="container">
  <div class="row">
    <h1 class="px-3 py-3 mx-auto">About</h1>
  </div>  
    <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p class="text-center">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p class="text-center">様々なバリエーションをご用意しております。</p>
    <p class="text-center">また、全国へ発送が可能ですので、「いつ」でも「どこ」でもご注文頂けます。</p>
    <p class="text-center">ぜひご注文ください。</p></p>
</div>