// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title_genre {
  margin: 60px;
}

.genre_name {
  margin-right: 50px;
}

.genre_registration {
  margin-left: 65px;
}