/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

  .header-tab {
    width: 100px;
    margin: 20px;
  }

 .logintitle {
   margin-right: 750px;
   margin-bottom: 50px;
 }

 .emailaddress {
   margin-right: 20px;
 }

 .passinfo {
   margin-right: 50px;
 }

.input-data {
  margin-left: 10px;
  width: 300px;
}

.log-in {
  margin-top: 20px;
}

.bg-test_text {
  text-align: center;
}

.login-subtitle {
  margin-right: 650px;
  margin-left: 70px;
}

.text-background {
  background-color: #c0c0c0;
}

.new-registration {
  margin-right: 150px;
}

.fields {
  margin: 10px 0 20px 0;
}

.actions {
  margin-top: 20px;
}

.field {
  margin: 20px 0;
}

//以下、会員新規登録で使用//

.content_center {
  width: 600px;
  margin: 0 50px;
}


.btn-success {
  margin-left: 150px;
}

.customerinfo {
  width: 300px;
}

.name-left {
  margin: 32px 0;
}

.footer-login {
  margin: 20px;
}